*{
  /* overflow: hidden; */
}
main{
  height: 100%;
  width: 100%;
}
.body{
  height: 100vh;
  width: 100vw;
  background-color: blackw;
  border: 2px solid green;
  padding-top: 40px;
  display: flex;
  
}


.left{
  
  height: 75vh;
  width: 23vw;
  background-color: rgb(0, 255, 238);
  margin: 40px;
  border: 2px solid black;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.me{
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -80px;
  height: 22vh;
  width: 18vh;
  background-image: "./bat.jpg";
  z-index: 1;
  
  
}

.info{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contacts{
  height: 50%;
  width: 100%;
  padding-left: 20px;
}

#logo{
  height: 100%;
  width: 100%;
   }

   .right{
    border: 2px solid black;
    height: 85vh;
    width: 65vw;
    display: flex;
    flex-direction: column;

    
  }
  
  nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 2px solid red;
    height: 4vh;
    width: 40%;
    font-size: large;
    margin-left: 40%;
    align-items: center;
    justify-content: space-between;
  }
  
  .box{
    height: 100%;
    width: 100%;
    display: flex;
  }

  .box1{
    height: 130%;
    width: 30%;
    border: 2px solid red;
    border-radius: 30px;
    position: relative;
    top: 40px;
    left: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;

  }

  .box2{
    
      height: 130%;
      width: 30%;
      border: 2px solid red;
      border-radius: 30px;
      position: relative;
      top: 40px;
      left: 200px;
      /* display: flex; */
      overflow: auto;
      /* align-items: center; */
      justify-content: center;
      display: flex;
  }

 #exp{
  display: flex;
  justify-content: center;
  /* align-items: center; */
 }

 .block1{
      height: 40vh;
      width: 30%;
      border: 2px solid red;
      border-radius: 30px;
      position: relative;
      margin: 100px;

 }

